.Content {
    .Content-item {
        margin-top: 150px;
    }
}
.head {
    top: 0;
    position: fixed;
}
@media (max-width: 992px){
    .Content {
        .Content-item {
            margin-top: 120px;
        }
    }
}