.QandA {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 150px;
  background-color: #ffffff;
  font-family: "Be Vietnam", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: -0.3px;

  .Content {
    width: 100%;
    height: auto;
    margin: 0 -15px;
    display: flex;

    .Description {
      width: 100%;
      height: auto;
      padding: 0 15px;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;

      .title {
        font-size: 2.765em;
        line-height: 1.2em;
        font-family: "Be Vietnam", sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
        color: #191c2f;
      }

      .intro {
        margin-bottom: 10px;
        // padding: 0 10px 0 0;
        color: #191c2f;
        font-size: 17px;
        font-family: "Be Vietnam", sans-serif;
        line-height: 1.8em;
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 20px 10px 20px 0;
        background: none;
        border: none;
        border-bottom: solid 1px rgba(0, 0, 0, 0.125);
        border-radius: 0;
        text-transform: none;
        box-shadow: none;
        box-sizing: border-box;
        font-weight: 700;
        font-size: 17px;
        font-family: "Be Vietnam", sans-serif;
        cursor: pointer;

        p {
          text-align: left;
          color: #191c2f;
          flex: auto;
        }

        .add-icon {
          font-size: 24px;
          line-height: 24px;
          font-weight: normal;
          transition: all 0.3s ease;
        }

        .icon-active {
          transform: rotate(45deg);
          transition: all 0.3s ease;
          font-size: 24px;
          line-height: 24px;
          font-weight: normal;
        }
      }

      div {
        height: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        overflow: hidden;
        // height: auto;
        // display: none;
      }

      .d-block {
        // display: block;
        height: auto;
        visibility: visible;
        padding: 25px 0;
        color: #191c2f;
        transition: all 0.3s ease;
      }

      .promise {
        margin: 40px 0 10px;
      }

      .author {
        display: flex;
        margin-top: 20px;
        width: fit-content;
        height: fit-content;
        // align-items: center;
        // visibility: visible;

        .author-img {
          visibility: visible;
          margin-right: 20px;
          border: solid 2px #ff5858 !important;
          border-radius: 50%;
          width: 60px;
          height: 60px;
        }

        .author-content {
          visibility: visible;
          overflow: visible;
          margin-top: 10px;
          margin-right: 5px;
          // display: block;

          .name {
            font-size: 1em;
            margin-bottom: 10px;
            line-height: 1.2em;
            color: rgba(0, 147, 214, 0.86) !important;
          }

          .role {
            font-size: 0.765em;
            line-height: 0.8em;
            font-weight: 400;
          }
        }
      }
    }

    .Image {
      width: 100%;
      height: auto;
      padding: 0 15px;
      margin-left: 8.333333%;
      flex: 0 0 50%;
      max-width: 50%;

      img {
        max-width: 100%;
        border-radius: 10px;
      }
    }
  }
}

//Mobile : width < 740px
@media screen and (max-width: 46.1875em) {
  .QandA {
    // width: 100%;
    .Content {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      padding: 0 15px;

      .Description {
        width: 100%;
        max-width: 100%;
      }

      .Image {
        width: 100%;
        max-width: 100%;
        margin: 25px 0 !important;
      }
    }
  }
}

//Tablet : width >= 740px & < 1024px
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .QandA {
    .Content {
      margin: 0 auto;

      .Description {
        width: 50%;
        max-width: 50%;
        flex: 1 1 50%;
      }

      .Image {
        width: 50%;
        max-width: 50%;
        flex: 1 1 50%;
        margin: 0;
      }
    }
  }
}
