.container {
  width: 100%;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  // color: black;
}
li {
  list-style: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  // font-family: 'Poppins', sans-serif;
}
.flex {
  display: flex;
  // justify-content: center;
  align-items: center;
}
.icon {
  font-size: 1.3rem;
  cursor: pointer;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 730px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 767px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 800px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1050px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1250px;
  }
}

//Mobile : width < 740px
@media screen and (max-width: 46.1875em) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

//Tablet : width >= 740px & < 1024px
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
